.weather
    position: relative
    max-width: 100vw
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    position: relative
    margin: 140px 0 0 0

    &-city
        border-radius: 40px
        padding: 0.7rem 3.5rem
        background-color: #ecd7f048   
        color: #7878AB
        font-weight: 600
        font-size: 1.5rem
        box-shadow: 5px 5px 5px #e7d5ee, -5px -5px 5px #F5F5FA
        user-select: none




        &-full
            position: fixed
            width: 100vw
            height: 100vh
            background-color: #000094
            display: flex

    &-data
        border-radius: 50%
        background: #F5F5FA
        box-shadow: inset 5px 5px 14px #b3b3b7, inset -5px -5px 14px #F5F5FA
        height: 400px
        width: 400px
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        user-select: none
        margin-top: 80px

        @media (max-width: 500px)
            width: 300px
            height: 300px

        @media (max-width: 300px)
            width: 250px
            height: 250px

        &-degree
            font-weight: 600
            font-size: 1.8rem

            @media (max-width: 500px)
                font-size: 1.5rem
    
    &-details
        position: absolute
        top: 0
        left: 50%
        transform: translateX(-50%)
        border-radius: 40px
        padding: 5rem 3rem
        background-color: #ecd7f048   
        color: #7878AB
        font-weight: 600
        font-size: 1.5rem
        box-shadow: 5px 5px 5px #e7d5ee, -5px -5px 5px #F5F5FA
        user-select: none
        width: 60%
        height: 500px

        @media (max-width: 550px)
            padding: 3rem 2rem
            width: 80%
            height: 400px
            
        & p
            margin: 0.8rem 0

            @media (max-width: 550px)
                font-size: 1.2rem
            
            @media (max-width: 305px)
                font-size: 1rem

        &-close
            position: absolute
            top: 20px
            right: 20px
            font-size: 2rem
            color: #7878AB
            cursor: pointer
            transition: color 0.3s ease

            &:hover
                color: #000094
        
        &-data
            
            
            &-span
                margin-left: 0.5rem